#template-paste-to-new-tab-and-go,
#template-paste-to-new-tab-and-search,
#main-window:not([chromehidden=""]) #urlbar-paste-to-new-tab-and-go {
  display: none;
}

#genericAbout[title*="Paste to Tab and Go"] {
  min-height: 300px !important;
}

#genericAbout[title*="Paste to Tab and Go"] #extensionDetailsBox {
  min-height: 200px !important;
}

#genericAbout[title*="Paste to Tab and Go"] .text-link {
  border-width: 0 !important;
}
